<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Error - ShortLink</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="error-container">
            <h1>Oops! Something went wrong</h1>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}">Error message</div>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
</body>
</html> 